# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [39]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [40]:
weather_data_df = pd.read_csv('../WeatherPy/weather_data.csv')
weather_data_df.dropna()
weather_data_df.head()

,Name,Cloudiness (%),Country,Date,Humidity (%),Lat,Long,Max Temp (Fahrenheit),Wind Speed (mph)
0,Ushuaia,90,AR,1584558380,81,-54.80,-68.30,44.60,29.97
1,Gmina Brwin처w,71,PL,1584558380,57,52.14,20.72,57.99,3.36
2,Hermanus,0,ZA,1584558381,92,-34.42,19.23,66.00,6.44
3,Qaanaaq,3,GL,1584558381,63,77.48,-69.36,-14.40,5.55
4,Hilo,75,US,1584558317,83,19.73,-155.09,71.60,4.70

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [41]:
# Store latitude and longitude in locations
locations = weather_data_df[["Lat", "Long"]]

# Fill NaN values and convert to float
humidity = weather_data_df["Humidity (%)"]

In [44]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [49]:


# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=80,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [57]:
weather_data_filtered = weather_data_df[(weather_data_df['Max Temp (Fahrenheit)'] > 70)&
                                        (weather_data_df['Max Temp (Fahrenheit)'] < 80)&
                                        (weather_data_df['Wind Speed (mph)'] < 10)&
                                        (weather_data_df['Cloudiness (%)'] == 0)]
weather_data_filtered_df = pd.DataFrame(weather_data_filtered)
weather_data_filtered_df

,Name,Cloudiness (%),Country,Date,Humidity (%),Lat,Long,Max Temp (Fahrenheit),Wind Speed (mph)
68,M훮ngrol,0,IN,1584558391,65,21.12,70.12,79.32,9.71
116,Dw훮rka,0,IN,1584558399,65,22.24,68.97,78.06,9.69
213,Mount Isa,0,AU,1584558414,35,-20.73,139.50,73.40,6.93
236,Broken Hill,0,AU,1584558418,33,-31.95,141.43,73.40,9.17
330,San Rafael,0,AR,1584558378,25,-34.62,-68.33,76.26,6.67
360,Yulara,0,AU,1584558438,27,-25.24,130.99,78.80,5.82
412,Palauig,0,PH,1584558446,75,15.44,119.90,73.02,3.71
419,Hiriy큰r,0,IN,1584558447,29,13.95,76.62,75.18,3.49
423,Upleta,0,IN,1584558448,38,21.73,70.28,72.30,3.78
526,Sidhi,0,IN,1584558464,28,24.42,81.88,74.88,0.92

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [58]:
hotel_df = weather_data_filtered_df
hotel_df

,Name,Cloudiness (%),Country,Date,Humidity (%),Lat,Long,Max Temp (Fahrenheit),Wind Speed (mph)
68,M훮ngrol,0,IN,1584558391,65,21.12,70.12,79.32,9.71
116,Dw훮rka,0,IN,1584558399,65,22.24,68.97,78.06,9.69
213,Mount Isa,0,AU,1584558414,35,-20.73,139.50,73.40,6.93
236,Broken Hill,0,AU,1584558418,33,-31.95,141.43,73.40,9.17
330,San Rafael,0,AR,1584558378,25,-34.62,-68.33,76.26,6.67
360,Yulara,0,AU,1584558438,27,-25.24,130.99,78.80,5.82
412,Palauig,0,PH,1584558446,75,15.44,119.90,73.02,3.71
419,Hiriy큰r,0,IN,1584558447,29,13.95,76.62,75.18,3.49
423,Upleta,0,IN,1584558448,38,21.73,70.28,72.30,3.78
526,Sidhi,0,IN,1584558464,28,24.42,81.88,74.88,0.92

In [61]:
hotel_df['Hotel'] = ''
hotel_df

,Name,Cloudiness (%),Country,Date,Humidity (%),Lat,Long,Max Temp (Fahrenheit),Wind Speed (mph),Hotel
68,M훮ngrol,0,IN,1584558391,65,21.12,70.12,79.32,9.71,
116,Dw훮rka,0,IN,1584558399,65,22.24,68.97,78.06,9.69,
213,Mount Isa,0,AU,1584558414,35,-20.73,139.50,73.40,6.93,
236,Broken Hill,0,AU,1584558418,33,-31.95,141.43,73.40,9.17,
330,San Rafael,0,AR,1584558378,25,-34.62,-68.33,76.26,6.67,
360,Yulara,0,AU,1584558438,27,-25.24,130.99,78.80,5.82,
412,Palauig,0,PH,1584558446,75,15.44,119.90,73.02,3.71,
419,Hiriy큰r,0,IN,1584558447,29,13.95,76.62,75.18,3.49,
423,Upleta,0,IN,1584558448,38,21.73,70.28,72.30,3.78,
526,Sidhi,0,IN,1584558464,28,24.42,81.88,74.88,0.92,

In [213]:
            # params dictionary to update each iteration
location = hotel_df[["Lat", "Long"]]

params = {
    "location":location,
    "radius":5000,
    "types": "lodging",
    "keyword": "hotels",
    "key": g_key
}
# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    

    # change location each iteration while leaving original params in place
    #params["location"] = hotel_df[["Lat", "Long"]]


    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_request_df = requests.get(base_url, params=params)

    # convert to json
    hotel_request_df = hotel_request_df.json()
   
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_request_df["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

In [214]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

AttributeError: 'dict' object has no attribute 'iterrows'

In [215]:
# Add marker layer ontop of heat map
# Assign the marker layer to a variable
markers = gmaps.marker_layer(location)

# Display Map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))